.table_wrapper {
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 30px;

}

.favourites_table {
    border-collapse: separate;
    border-spacing: 0 2px;
    color: white;
    font-size: 14px;
    position: relative;
    z-index: 1;


    thead th {
        position: sticky;
        top: 0%;
        z-index: 3;
        backdrop-filter: blur(3px);
        text-shadow: 1px 1px 5px black;

        .temp_button {
            border-width: 0;
            padding: 2px 4px;
            border-radius: 3px;
            text-shadow: 1px 1px 5px black;

            &:hover {
                border-width: 1px;
                color: white;
                box-shadow: none;
                border-color: white;

            }
        }
    }

    tbody {
        tr:hover {
            background-color: rgba($color: black, $alpha: .7);

        }
    }



}


.row {
    background-color: rgba($color: black, $alpha: .4);

    th,
    td {
        padding: 3px 10px;
    }

}