form.search_form {
    position: relative;
    background-color: rgba($color: black, $alpha: .3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 5px 10px;
    border-radius: 10px;
    color: white;

    &:focus-within {
        border-color: #ffeb9d;
        box-shadow:
            0 0 15px rgba(255, 255, 255, 0.8), // luce interna
            0 0 30px rgba(255, 204, 0, 0.6), // luce intermedia
            0 0 45px rgba(255, 204, 0, 0.4); // luce esterna 
        animation: pulsate 1.5s infinite;
    }

    .search_group {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }



    input {
        background-color: rgba($color: black, $alpha: .1);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        color: white;
        padding: 0 5px;
        border-radius: 5px;

        &:focus {
            outline: none;

        }

        &::placeholder {
            color: white;
            opacity: 60%;
        }
    }
}

/* Animazione per l'effetto pulsante */
@keyframes pulsate {

    0%,
    100% {
        box-shadow:
            0 0 15px rgba(255, 255, 255, 0.8),
            0 0 30px rgba(255, 204, 0, 0.6),
            0 0 45px rgba(255, 204, 0, 0.4);
    }

    50% {
        box-shadow:
            0 0 20px rgba(255, 255, 255, 1),
            0 0 40px rgba(255, 204, 0, 0.8),
            0 0 60px rgba(255, 204, 0, 0.6);
    }
}